/* --- root og generel styling ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* finger paint */
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
   /* --- color --- */
   --red: #b3231e;
   --yellow: #ffd12b;
   --lightGreen: #71cc22;
   --darkGreen: #1a993e;
   --turquoise: #22c6cc;
   --blue: #1a3599;
   --purple: #4e1580;
   --magenta: #cc229c;
   --white: #f2ebeb;
   --black: #0d0c0c;
   --darkBrown: #332013;
   --lightBrown: #664126;

   /* --- font weights --- */
   --regular: 400;
   --medium: 500;
   --semiBold: 600;

   /* --- font sizes --- */
   --fontsizeXXS: 0.5rem;
   /* 8px */
   --fontsizeXS: 0.75rem;
   /* 12px */
   --fontsizeS: 0.875rem;
   /* 14px */
   --fontsizeM: 1rem;
   /* 16px */
   --fontsizeL: 1.25rem;
   /* 20px */
   --fontsizeXL: 1.5rem;
   /* 24px */
   --fontsizeXXL: 2rem;
   /* 32px */
}

/* --- reset --- */
* {
   box-sizing: border-box;
   color: var(--white);
   font-family: "poppins", sans-serif;
   font-weight: var(--regular);
   list-style: none;
   margin: 0;
   padding: 0;
   text-decoration: none;
}

/* --- general styles --- */

body {
   background-color: var(--lightBrown);
   min-height: 100dvh;
}

h1 {
   font-size: var(--fontsizeXXL);
}

h2 {
   font-size: var(--fontsizeXL);
}

h3 {
   font-size: var(--fontsizeL);
}

a:any-link {
   color: inherit;
   text-decoration: none;
}

img {
   height: fit-content;
   object-fit: contain;
   width: auto;
}

main {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 1rem;
}

/* --- navigation --------------------------------------------------------------------------------------------------- */

nav {
   background-color: var(--darkBrown);
   position: fixed;
   bottom: 0px;
   left: 0px;
   width: 100%;
}

nav ul {
   display: flex;
   width: 100%;
   justify-content: space-between;
   padding: 1rem 2rem;
}

nav ul li {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 70px;
   gap: 0.5rem;
}

.nav_icons {
   width: 40px;
   height: 40px;
}

/* --- header --------------------------------------------------------------------------------------------------------*/
header {
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   background-color: var(--lightBrown);
   padding: 16px 20px 0px 20px;
   position: sticky;
   left: 0px;
   top: 0px;
}

.logo {
   width: 90px;
   height: fit-content;
}

/* --- frontpage ---------------------------------------------------------------------------------------------------- */

.shelf {
   background-color: var(--darkBrown);
   display: flex;
}

.shelf.top {
   align-items: center;
   flex-direction: column;
   justify-content: flex-end;
   padding-top: 2rem;
}

.shelf.top h2.box_header {
   background-color: var(--red);
   font-weight: var(--semiBold);
   padding: 0.5rem 2rem;
   text-align: center;
   text-transform: uppercase;
   width: fit-content;
}

.shelf.top .box_header {
   min-height: 3rem;
   min-width: 60%;
}

#pop_1 {
   background-color: midnightblue;
   width: 80%;
}

#pop_2 {
   background-color: coral;
}

#pop_3 {
   background-color: darkred;
   width: 70%;
}

#pop_4 {
   background-color: green;
   width: 80%;
}

.double_shelf {
   display: flex;
   gap: 1rem;
}

.shelf.mid {
   align-items: flex-end;
   gap: 1rem;
   justify-content: center;
   width: 50%;
}

.shelf.mid.left {
   gap: 1rem;
   padding-top: 10%;
}

.shelf.mid.left :first-child {
   width: 20%;
}

.shelf.mid.left :last-child {
   width: 40%;
}

/* --- search & sorting --------------------------------------------------------------------------------------------- */

/* --- boardgames --------------------------------------------------------------------------------------------------- */

/* --- boardgame ---------------------------------------------------------------------------------------------------- */
.games {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.boardgame {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.game_lid {
   background-color: var(--blue);
   display: flex;
   width: 100%;
   height: 60px;
   justify-content: space-between;
   padding-right: 0.5rem;
   align-items: center;
}

.game_box {
   background-color: var(--black);
   width: 95%;
   height: 0.25rem;
}

.boardgame_image {
   height: 100%;
   width: 75%;
   object-fit: cover;
}

.game_info {
   display: flex;
   flex-direction: column;
   width: 60px;
   gap: 0.25rem;
}

.game_info div {
   display: flex;
   align-items: center;
   gap: 0.25rem;
   height: fit-content;
}

.game_info div img {
   width: 10px;
   height: 10px;
}

.game_info div p {
   font-size: var(--fontsizeXXS);
}

/* --- inspiration -------------------------------------------------------------------------------------------------- */
.inspiration_main {
   width: 100dvw;
   height: calc(100% - 104px - 84.15px);
}

.inspiration_background {
   object-fit: cover;
   /* height: 100%; */
   width: 100%;
   object-position: 50% 50%;
   overflow: hidden;
}

/* --- wheel minigame ----------------------------------------------------------------------------------------------- */

/* --- bar ---------------------------------------------------------------------------------------------------------- */

/*--- Media queries --------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/
